.ui-dialog {
    z-index: 9999 !important;
}

.popover, .moodle-dialogue-base .moodle-dialogue-wrap {
    position: relative !important;
    z-index: 10010 !important;
}

.qtype-preg-highlighted-regex-text .textarea-highlighter-wrap * {
    width: 100%;
}

#id_regex_testing_header .felement {
    display: flex;
}